{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div>
            <label for="{{ form.username.id }}">{{ form.username.label }}</label>
            {{ form.username() }}
        </div>
        <div>
            <label for="{{ form.password.id }}">{{ form.password.label }}</label>
            {{ form.password() }}
        </div>
        <button type="submit">Login</button>
    </form>
{% endblock %}
